/* 2016.07.30 created by paincompiler@zaoshu.io*/

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    text-rendering: optimizeLegibility
}

html {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.65;
    font-weight: normal;
    overflow-y: scroll;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    height: 100%;
}

h1 {
    font-size: 64px;
    font-size: 2rem;
    margin-bottom: 0;
}

#site-header {
    text-align: center;
    position: relative;
    top: 40%;
    margin-top: -5.5em;
    padding-left: 11%;
    padding-right: 10%;
}

.card-container {
    display: inline-block;
    margin: 0 auto;
    padding: 0 12px;
    padding: 0 0.375rem;
    perspective: 900px;
    perspective: 28.125rem;
    text-align: center;
}

.card {
    position: relative;
    width: 320px;
    width: 10rem;
    height: 320px;
    height: 10rem;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-size: 2rem;
}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-size: 0.5rem;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
}

@media (max-device-width: 772px) {
    html {
        background: red;
    }
    .front,
    .back {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: inherit;
        -moz-backface-visibility: inherit;
        -ms-backface-visibility: inherit;
        -o-backface-visibility: inherit;
        backface-visibility: inherit;
    }
    .front {
        font-size: 64px;
        font-size: 2rem;
    }
    .back {
        transform: rotateY(0deg);
        font-size: 32px;
        font-size: 1rem;
    }
    @-webkit-keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }
    @-moz-keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }
    @-ms-keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }
    @-o-keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }
    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-5px);
        }
    }
    .card {
        -webkit-animation: bounce 0.5s infinite;
        -moz-animation: bounce 0.5s infinite;
        -ms-animation: bounce 0.5s infinite;
        -o-animation: bounce 0.5s infinite;
        animation: bounce 0.5s infinite;
    }
}
